name: RuboCop

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
      - name: Install required package
        run: |
          sudo apt-get install alien
      - name: Download Oracle instant client
        run: |
          wget -q https://download.oracle.com/otn_software/linux/instantclient/2111000/oracle-instantclient-basic-21.11.0.0.0-1.x86_64.rpm
          wget -q https://download.oracle.com/otn_software/linux/instantclient/2111000/oracle-instantclient-sqlplus-21.11.0.0.0-1.x86_64.rpm
          wget -q https://download.oracle.com/otn_software/linux/instantclient/2111000/oracle-instantclient-devel-21.11.0.0.0-1.x86_64.rpm
      - name: Install Oracle instant client
        run: |
          sudo alien -i oracle-instantclient-basic-21.11.0.0.0-1.x86_64.rpm
          sudo alien -i oracle-instantclient-sqlplus-21.11.0.0.0-1.x86_64.rpm
          sudo alien -i oracle-instantclient-devel-21.11.0.0.0-1.x86_64.rpm
      - name: Build and run RuboCop
        run: |
          bundle install --jobs 4 --retry 3
          bundle exec rubocop
